.row {
    display: flex; 
    flex-wrap: wrap !important;
}

.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding:0;
}

.thumbnail .caption-full{
    padding:0.9rem;
}

.delete-form{
    display:inline;
}